<div class="pokemon_container">
<div class="flex">
<div class="header">
    <h2>{{user | titlecase }}'s Pokedex</h2>
</div>
</div>
<div class="card_container">
<div *ngFor="let i = index; let poke of pokemonArray" >
    <mat-card class="pokemon_cards">
        <div class='whitespace'>
        <mat-card-title>{{poke.name | titlecase}}</mat-card-title>
        <mat-card-subtitle>Pokemon ID: {{poke.id}}</mat-card-subtitle>
        <img mat-card-lg-image src="{{poke.sprites.front_default}}">
        <mat-card-subtitle>Pokemon ID: {{poke.id}}</mat-card-subtitle>
        </div>
    </mat-card>
</div>
</div>
</div>