
<!-- <div style='text-align:center' class='searchContainer'> -->
    <!-- <h1>
        <mat-icon> favorite_border </mat-icon>
        Hello World
        <mat-icon>favorite_border</mat-icon>
    </h1> -->
    
    <!-- <span><mat-icon>search</mat-icon></span><input type='text'mat-icon='search'>  -->
    <!-- <mat-form-field appearance='fill' class='searchStyle'>
        <mat-label id='search_label'>Search For a Pokemon</mat-label>
        <mat-icon>search</mat-icon>
        <input matInput class='searchInput'>
        
    </mat-form-field> -->
    <!-- <div class="row" style="margin-left:50%"> -->
        <!-- Two way binding this input field to a variable called input in pokedex.component.ts -->
        <!-- <input class="col-lg-3" type="string" [(ngModel)] = "name"/> -->
        <!--Event binding on this button to call the getPoke() function in pokedex.component.ts-->
        <!-- <button class=" btn btn-dark col-lg-2" (click)= "getPokemon()">Choose Pokemon</button>
    </div>

    
        <div class='card_body' *ngIf="pokemon">
            <mat-card class='pokemon_cards'>
                <mat-card-title>
                    {{pokemon.name}}
                </mat-card-title>
                <mat-card-content>
                    {{pokemon.type}}
                </mat-card-content>
                <img mat-card-image src="{{pokemon.sprites.front_default}}">
                <mat-card-subtitle>
                    $180.99
                </mat-card-subtitle>
                <mat-card-actions>
                    <button mat-raised-button>Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>

</div> -->

