
<div class='searchContainer'>
    <!-- <h1>
        <mat-icon> favorite_border </mat-icon>
        Hello World
        <mat-icon>favorite_border</mat-icon>
    </h1> -->
    
    <!-- <span><mat-icon>search</mat-icon></span><input type='text'mat-icon='search'>  -->
    <!-- <mat-form-field appearance='fill' class='searchStyle'>
        <mat-label id='search_label'>Search For a Pokemon</mat-label>
        <mat-icon>search</mat-icon>
        <input matInput class='searchInput'>
        
    </mat-form-field> -->
    <div class="row inputarea">
        <!-- Two way binding this input field to a variable called input in pokedex.component.ts -->
        <input class="col-8" type="string" [(ngModel)] = "name" placeholder="search by pokemon id or name..."/>
        <!-- Event binding on this button to call the getPoke() function in pokedex.component.ts -->
        <button class=" btn btn-dark col-lg-4" (click)= "getPokemon()">Choose Pokemon</button>
    </div>

    
        <div class='card_body' *ngIf="pokemon" [style.display] = "isVisible ? 'block' : 'none'">
            <mat-card class='pokemon_cards'>
                <mat-card-title>
                    {{pokemon.name}}
                </mat-card-title>
                <p> Pokemon ID: {{pokemon.id}}</p>
                <mat-card-content>
                    {{pokemon.types[0].type.name}}
                    <span *ngIf="pokemon.types.length > 1"> & {{pokemon.types[1].type.name}}</span>
                </mat-card-content>
                <img mat-card-md-image src="{{pokemon.sprites.front_default}}">
                <span *ngIf="pokemon.sprites.back_default">
                    <img mat-card-md-image src="{{pokemon.sprites.back_default}}">
                </span>
                

                <mat-card-subtitle>${{(((pokemon.id * .01) * 543).toFixed(2)) }}</mat-card-subtitle>

                <mat-card-actions>
                    <button mat-raised-button (click)="addPokemon(pokemon)">Add to Cart</button>
                    <button mat-raised-button (click)="addToWishList(pokemon)" color="primary" id="wishlistButton">To Wishlist</button>
                </mat-card-actions>
                <mat-card-actions>
                    <button mat-raised-button>Reviews</button>
                </mat-card-actions>
            </mat-card>
        </div>

</div>

