
<div style='text-align:center' class='searchContainer'>
    <!-- <h1>
        <mat-icon> favorite_border </mat-icon>
        Hello World
        <mat-icon>favorite_border</mat-icon>
    </h1> -->
    
    <!-- <span><mat-icon>search</mat-icon></span><input type='text'mat-icon='search'>  -->
    <!-- <mat-form-field appearance='fill' class='searchStyle'>
        <mat-label id='search_label'>Search For a Pokemon</mat-label>
        <mat-icon>search</mat-icon>
        <input matInput class='searchInput'>
        
    </mat-form-field> -->

</div>

