.card_body {
    width:500px;
    margin:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border:3px solid yellow;
}

.bundle_container {
    text-align:center;
    margin-top:90px;

}

h1 {
    color: yellow;
    font-size:40px;
    font-weight:bold;
    background-color:black;
    opacity:0.7;
    padding:20px;
    margin:20px;

}

#card_container {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}