.pokemon_cards {
    width:250px;
    margin:20px;
    padding:20px;
    padding-top: 0px;
    text-align:center;
    background-color:rgb(243, 236, 232);
    border:8px rgb(22, 7, 46);
    border-style:solid dashed;
    border-radius:20px;
    font-family:monospace;
    display:flex;
    flex-direction:column; 
    align-items:center;
    justify-content:center;
}
#description {
    background-color:darkslategray;
    border:3px solid white;
    border-radius:15px;
    opacity: 0.9;
    color:white;
    width:400px;
    padding:10px;
}

h3 {
    font-size:20px;
    font-style:italic;
}
#carouImage {
    max-height: 500px !important;
    min-width: 100%;
    max-width: 100%;
    /* object-fit: cover; */
    object-position: center;
  }

.carouselContainer {
    border: 10px ridge tomato;
    background-color:black;
}
#sale {
    color:black; 
    font-size:17px; 
    font-weight:bold; 
    background-color:red; 
    color:white;
    padding:5px 10px 5px 10px;
    /* width:100%; */
    /* padding:30px; */
}

.whitespace {
    background-color:rgb(27, 78, 126);
    margin: -30px;
    /* width:100%; */
    width: 240px;
    margin-bottom: 10px;
    padding:15px 0px;
}
mat-card-title {
    font-size:18px;
    color:white;
}
mat-card-subtitle {
    color:white;
}


.weeklyText {
    font-size:60px;
    font-weight:bold;
    color:white;
    text-align:center;
    /* position:absolute; */
    width: 100%;
    white-space: nowrap;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding:30px;

}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: -35%;
      width: 100%;
    }
  }

.body-container{

    /* background-color:black; */
    height: auto;
    justify-content:space-around;
    align-items:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}

pagination-controls {
    text-align:center;
    
}

.main_container {
    background-image: url('../../../assets/zaptos.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    overflow:hidden;
}

.overflow {
    overflow: hidden;
}

#action_buttons {
    display:flex;
    flex-direction:row;
}

#wishlistButton {
    width:90px;
    font-size:13px;
}