<p>pokemon-container works!</p>

<!-- <div class='card_body'>
    <mat-card class='pokemon_cards'>
        <mat-card-title>
            <h3>hello</h3>
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-subtitle>
            $180.99
        </mat-card-subtitle>
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
</div> -->
<div>
    <h1>Output</h1>
    <ul *ngFor = 'let poke of pokemonList | async; let i = index'>
        <strong>index is {{i}}</strong>
        <li>Pokemon Name: {{poke.name}}</li>
        <!-- <li *ngFor = 'let pokeData of Object.keys(pokemon)'>My Poke Data{{pokeData}}</li> -->
        <!-- my pokemon: {{pokemon}} -->
        <!-- <li>my pokemon: {{pokemon}}</li> -->
        <!-- my object : {{pokemons | json}} -->
        <!-- <p>{{pokemon}}</p> -->
    </ul>
    <h1>Nothing</h1>
</div> 
