    <!-- CAROUSEL MAYBE FOR FEATURED -->
    <div class="carouselContainer">
    <carousel [isAnimated] = "true" [interval] = "3000">
        <slide>
          <img src="../../../assets/carousel1.jpeg" alt="first slide" style="display: block; height: 500px;" id="carouImage">
          <div class="carousel-caption d-none d-md-block" id="description">
            <h3>Subsribe to our newsletter.</h3>
            <p>We send out weekly notifications on sales and promotions.</p>
          </div>
        </slide>
        <slide>
          <img src="../../../assets/carousel2.jpg" alt="second slide" style="display: block; height: 500px;" id="carouImage">
          <div class="carousel-caption d-none d-md-block" id="description">
            <h1>Join our team</h1>
          </div>
        </slide>
        <slide>
          <img src="../../../assets/carousel3.jpg" alt="third slide" style="display: block; height: 500px;" id="carouImage">
          <div class="carousel-caption d-none d-md-block" id="description">
            <h3>New Pokemon Coming Soon</h3>
            <p>2nd Generation Pokemon Coming to the Black Market Soon</p>
          </div>
        </slide>
      </carousel>
    </div>
    <!-- SALE -->
    <div class='main_container'>
        <div class= 'overflow'>
        <h1 class ="weeklyText"> Weekly Deals</h1>
        </div>
    <div class='body-container'>

         <div class="pokeContainer" *ngFor= "let i = index; let poke of sales">
            <mat-card class="pokemon_cards">
                <div class='whitespace'>
                <mat-card-title>{{poke.name | titlecase}}</mat-card-title>
                <mat-card-subtitle>Pokemon ID: {{poke.id}}</mat-card-subtitle>
                <mat-card-subtitle>{{poke.types[0].type.name}}
                <span *ngIf="poke.types.length > 1"> & {{poke.types[1].type.name}}</span>
                <span *ngIf="pokemon.types ">{{poke.types[1].type.name}}</span>
                </mat-card-subtitle>
                </div>
                <img mat-card-sm-image src="{{poke.sprites.front_default}}">
                <mat-card-subtitle style="color:black; text-decoration:line-through">${{(((poke.id * .01) * 543).toFixed(2)) }}</mat-card-subtitle>
                <mat-card-subtitle id="sale"> 50% OFF ${{((((poke.id * .01) * 543)*.50).toFixed(2)) }}</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-raised-button (click)="addPokemon(poke)">Add to Cart</button>
                </mat-card-actions>
                <mat-card-content *ngIf="!collapsed">
                    <img mat-card-sm-image src="{{poke.sprites.back_default}}">
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="collapsed=false" color="primary">Show</button>
                    <button mat-raised-button (click)="collapsed=true" color="accent">Hide</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="pokeContainer" *ngFor= "let i = index; let poke of sales2">
            <mat-card class="pokemon_cards">
                <div class='whitespace'>
                <mat-card-title>{{poke.name | titlecase}}</mat-card-title>
                <mat-card-subtitle>Pokemon ID: {{poke.id}}</mat-card-subtitle>
                <mat-card-subtitle>{{poke.types[0].type.name}}
                <span *ngIf="poke.types.length > 1"> & {{poke.types[1].type.name}}</span>
                <span *ngIf="pokemon.types ">{{poke.types[1].type.name}}</span>
                </mat-card-subtitle>
                </div>
                <img mat-card-sm-image src="{{poke.sprites.front_default}}">
                <mat-card-subtitle style="color:black; text-decoration:line-through">${{(((poke.id * .01) * 543).toFixed(2)) }}</mat-card-subtitle>
                <mat-card-subtitle id="sale"> 10% OFF ${{((((poke.id * .01) * 543)*.9).toFixed(2)) }}</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-raised-button (click)="addPokemon(poke)">Add to Cart</button>
                </mat-card-actions>
                <mat-card-content *ngIf="!collapsed">
                    <img mat-card-sm-image src="{{poke.sprites.back_default}}">
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="collapsed=false" color="primary">Show</button>
                    <button mat-raised-button (click)="collapsed=true" color="accent">Hide</button>
                </mat-card-actions>
            </mat-card>
        </div>
</div>