    <!-- CAROUSEL MAYBE FOR FEATURED -->
    <div style="width: 500px; height: 500px;">
        <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator" *ngIf="pokeDataArray">
            <slide>
                <text>{{pokeDataArray[6].name}}</text>
                <!-- <img [src]="slide.image" alt="image slide" style="display:block; width:100%">
                <di class="carousel-caption">
                    <h3>Weekly Featured Pokemon</h3>
                    <p>{{slide.text}}</p>
                </di> -->
            </slide>
        </carousel>
        <br/>
        <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="noWrapSlides">Disable Slide Looping</label>
            <label><input type="checkbox" [(ngModel)]="showIndicator">Enable Indicator</label>
        </div>
        
    </div>

    <!-- SALE -->
    <div class='body-container'>
         <div class="pokeContainer" *ngFor= "let i = index; let poke of pokeDataArray">
            <mat-card class="pokemon_cards">
                <div class='whitespace'>
                <mat-card-title>{{poke.name | titlecase}}</mat-card-title>
                <mat-card-subtitle>Pokemon ID: {{poke.id}}</mat-card-subtitle>
                <mat-card-subtitle>{{poke.types[0].type.name}}
                <span *ngIf="poke.types.length > 1"> & {{poke.types[1].type.name}}</span>
                <span *ngIf="pokemon.types ">{{poke.types[1].type.name}}</span>
                </mat-card-subtitle>
                </div>
                <img mat-card-sm-image src="{{poke.sprites.front_default}}">
                <mat-card-subtitle style="color:black">${{(((poke.id * .01) * 543).toFixed(2)) }}</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-raised-button (click)="showId(poke.id)">Add to Cart</button>
                </mat-card-actions>
                <mat-card-content *ngIf="!collapsed">
                    <img mat-card-sm-image src="{{poke.sprites.back_default}}">
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="collapsed=false" color="primary">Show</button>
                    <button mat-raised-button (click)="collapsed=true" color="accent">Hide</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

