
<mat-toolbar class="nav customize" >
    
    <div id="margin_nav"> 
        <img src='../../../favicon.ico' height='30'/>
        Pokemon Black Market </div>
    <div class='navbar'>
        <!-- menu -->
        <mat-menu #appMenu='matMenu' class='customize hamburger'>
            <button mat-menu-item [routerLink]="['/frontpage']">
                <mat-icon [ngStyle]="{'color':'white'}">home</mat-icon>
                Home
            </button>
            <button mat-menu-item [routerLink]="['/searchcontainer']">
                <mat-icon [ngStyle]="{'color':'white'}">search</mat-icon>
                Search for Pokemon
            </button>
            <button mat-menu-item [routerLink]="['/cart']">
                <mat-icon [ngStyle]="{'color':'white'}">shopping_cart</mat-icon>
                Cart
            </button>
            <button mat-menu-item [routerLink]="['/wishlist']">
                <mat-icon [ngStyle]="{'color':'white'}">search</mat-icon>
                Wishlist
            </button>
            <button mat-menu-item [matMenuTriggerFor]='submenu' >
                <mat-icon [ngStyle]="{'color':'white'}">person</mat-icon>
                {{user | titlecase}}
            </button>
            <button mat-menu-item [routerLink]="['']">
                <mat-icon [ngStyle]="{'color':'white'}">logout</mat-icon>
                Sign Out
            </button>
        </mat-menu>
        <button mat-flat-button [matMenuTriggerFor]='appMenu' class='customize mainMenu'><mat-icon>menu</mat-icon></button>

        <mat-menu #submenu='matMenu' class='customize'>
            <button mat-menu-item [routerLink]="['/history']">
                Pokedex
            </button>
            <button mat-menu-item [routerLink]="['/userprofile']">
                User Settings
            </button>
        </mat-menu>

    </div>
    </mat-toolbar>
    <!-- <router-outlet></router-outlet> -->