<button (click)="handleEvent()">Click me</button>
<!-- This button returns pokemon response back to us in the console -->

<!-- card body for each pokemon -->
<div class='card_body'>
    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class='pokemon_cards'>
        <mat-card-title>
            Pokemon name
        </mat-card-title>
        <mat-card-content>
            Pokemon Details
        </mat-card-content>
        <img mat-card-image>
            <img mat-card-lg-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
        <mat-card-actions>
            <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
</div>
