<app-navbar></app-navbar>
<div class = "user_container">

  <form>
      <div class = 'login_container'>
        <h2>User settings</h2>
          <mat-card class="mat_container">
            <h2 >Profile user ID  : {{usrID}}</h2>

              <mat-form-field>
                  <input matInput placeholder='User Name' name ="username" formController="username" [(ngModel)]="username" readonly>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder='e-mail' name="email" formController="email" [(ngModel)]="email" readonly>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder='First Name' name="fname" formController="fname" [(ngModel)]="fname">
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder='Last Name' name="lname" formController="lname" [(ngModel)]="lname">
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder='Phone Number' name="phnum" formController="phnum" [(ngModel)]="phnum">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder='Physical Address' name="phadd" formController="phadd" [(ngModel)]="phadd">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder='Credit Card Number' name="ccnum" formController="ccnum" [(ngModel)]="ccnum">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder='Credit Card Name' name="ccname" formController="ccname" [(ngModel)]="ccname">
              </mat-form-field>

              <button mat-raised-button color='primary' type='submit' (click)=udpprfusr()> Update Profile </button>
              <button mat-raised-button color='primary' type='submit' [routerLink]="['/frontpage']"> Exit </button>
              <!--<button mat-raised-button color='primary' type='submit' [routerLink]="['/login']"> Register </button>-->
              <small class="text-danger">{{msgError}}</small>
          </mat-card>
      </div>
  </form>
</div>

<app-footer></app-footer>