<app-navbar></app-navbar>
<p>userprofile works!</p>
<div class='mat-display-2'>User Profile</div>

<form>
    <div>
        
        <mat-card class="container">

            <mat-form-field>
                <input matInput placeholder='ID' formController="id">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder='Email Address' formController="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder='Address' formController="address">
            </mat-form-field>

            <button mat-raised-button color='primary' type='submit'> Update Profile </button>
        </mat-card>
    </div>
</form>)