.container_login {
    background-image: url('../../../assets/articuno.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-color:black;
    /* height: 500px; */
    background-position: center;
    display:flex;
    justify-content:center;
    height:100vh;
    text-align:center;
    font-family:monospace;
}

.login_container {
    color:white;
    margin:auto;
    background-color:darkslategray;
    border:2px solid black;
    border-radius:20px;
    opacity:0.9;
    width:600px;
    padding:20px;

}

h2 {
    font-size: 40px;
    padding:20px;
    margin:20px;
    font-family:monospace;
}
span {
    color: black;
}

.mat_container {
    text-align:center;
    background-color:white;
    display:flex;
    flex-direction:column;
    width:auto;
    align-items:center;
    color:black !important;
    font-size:13px;
}

.signup {
    margin:18px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color:black;
}
mat-form-field{
  width: 300px;
 }
