<div class = "container_login">

    <div class = 'login_container'>
        <h2>CacheEmAll</h2>

        <form [formGroup]="signInForm" (ngSubmit)="Loginusr($event)">
            

            <div>
                <mat-card class='mat_container'>

                    <mat-form-field appearance='outline' id='field'>
                        <input type="text" matInput placeholder='Email' name="email" formControlName="email" >
                    </mat-form-field>

                    <mat-form-field appearance='outline' id='field'>
                        <input type="password" matInput placeholder='Password' name="password" formControlName="password" >
                    </mat-form-field>

                    <button mat-raised-button color='primary' (click)=Loginusr($event) > Login </button>
                  
                    <small class="text-danger">{{msgError}}</small>
                    <br/>
                    <br/>
                    <button mat-raised-button color='primary' type='submit' [routerLink]="['/resetpassword']"> Reset password </button>
                </mat-card>
            </div>
        </form>

        <div class='signup'>
            <p>Don't have an account? Sign up.</p>
        <br/>
        <button mat-raised-button color='primary' [routerLink]="['/register']">Register New Account</button>
        </div>

    </div>
    <!-- <button [routerLink]="['/frontpage']">Sign in</button> -->