<mat-toolbar class="nav customize" >
    
    <div> 
        <img src='../../../favicon.ico' height='30'/>
        Pokemon Black Market </div>
    <div class='navbar'>
        <!-- menu -->
        <mat-menu #appMenu='matMenu' class='customize'>
            <button mat-menu-item [routerLink]="['/frontpage']">
                <mat-icon [ngStyle]="{'color':'white'}">home</mat-icon>
                Home
            </button>
            <button mat-menu-item [routerLink]="['/cart']">
                <mat-icon [ngStyle]="{'color':'white'}">shopping_cart</mat-icon>
                Cart
            </button>
            <button mat-menu-item [matMenuTriggerFor]='submenu' >
                <mat-icon [ngStyle]="{'color':'white'}">person</mat-icon>
                User
            </button>
            <button mat-menu-item [routerLink]="['']">
                <mat-icon [ngStyle]="{'color':'white'}">logout</mat-icon>
                Sign Out
            </button>
        </mat-menu>
        <button mat-flat-button [matMenuTriggerFor]='appMenu' class='customize mainMenu'><mat-icon>menu</mat-icon></button>

        <mat-menu #submenu='matMenu' class='customize'>
            <button mat-menu-item [routerLink]="['/history']">
                Order History
            </button>
            <button mat-menu-item [routerLink]="['/userprofile']">
                User Settings
            </button>
        </mat-menu>

    </div>
    </mat-toolbar>
    <router-outlet></router-outlet>

    <br>
<h1 style= "font-style:normal;font-weight: bold; font-size: 30px;" class="jumbotron">Your Cart</h1>

<div>   
    <mat-card class="cardInCart"> 
    <div class="pokemonInCart" *ngFor="let pokemon of pokemonList">
        <button class= "x"(click)="delete(pokemon)">X</button>
        <h3 style="font-style: italic;">{{pokemon.name | titlecase}}</h3>
        <h3 style="font-size: 25px;font-weight: bold;">${{(((pokemon.id * .01) * 543).toFixed(2))}}</h3>
        <img src="{{pokemon.sprites.front_default}}"/>
    </div>
    </mat-card>
</div>


<div class = "costOfPokemon">
    <mat-card class="costInCart">
    <div>
        <h1>Total Cost</h1>
        <h1>${{totalCost.toFixed(2)}}</h1>
        <button class="checkout" (click)="finalPrice()" [routerLink]="['/checkout']">Checkout</button>
    </div>
    </mat-card>
</div>



