<app-navbar></app-navbar>

<div class="cart_container">
<div class="center_div">
    <h1 id="heading">Your Cart</h1>
</div>


<div>   
    <mat-card class="cardInCart"> 
    <div class="pokemonInCart" *ngFor="let pokemon of pokemonList">
        <button class= "x"(click)="delete(pokemon)">X</button>
        <h3 style="font-size: 20px;font-style: italic;">{{pokemon.name | titlecase}}</h3>
        <h3 style="font-size: 18px;font-weight: bold;">${{(((pokemon.id * .01) * 543).toFixed(2))}}</h3>
        <img src="{{pokemon.sprites.front_default}}"/>
    </div>
    </mat-card>
    <mat-card class="cardInCart" > 
        <div class="bundleInCart" *ngFor="let bundle of bundleList">
            <!-- <button class= "x"(click)="delete(bundleList)">X</button> -->
            <h3 style="font-style: italic;">Bundle Deal <button class='x'(click)='deleteBundle(bundle)'>X</button></h3>
            <img src="{{bundle.images}}" width='350' height='250'/>
        </div>
    </mat-card>
</div>

<div class="center_div">
<div class = "costOfPokemon">
    <mat-card class="costInCart">
    <div>
        <h1>Total Cost</h1>
        <h1>${{totalCost.toFixed(2)}}</h1>
        <button class="checkout"[routerLink]="['/checkout']" style="color:white; padding:10px; border-radius:15px">Checkout</button>
    </div>
    </mat-card>
</div>
</div>
</div>
<app-footer></app-footer>


