.container_register {
    background-image: url('../../../assets/moltres.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-color:black;
    background-position:center;
    /* height: 500px; */
    display:flex;
    justify-content:center;
    min-height:100vh;
    height:auto;
    text-align:center;
    font-family:monospace;
}

.login_container {
    color:white;
    margin:50px;
    background-color:darkslategray;
    border:2px solid black;
    border-radius:20px;
    opacity:0.9;
    width:60%;
    padding:10px;
    display:flex;
    flex-direction:column;
    align-items:center;

}

h2 {
    font-size: 40px;
    padding:20px;
    margin:20px;
    font-family:monospace;
}
span {
    color:black;
}

.mat_container {
    text-align:center;
    background-color:white;
    display:flex;
    flex-direction:column;
    padding:60px;
    width:500px;
    /* width:auto; */
    align-items:center;
    color:black !important;
    /* font-size:18px; */

}

.signup {
    margin:18px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color:black;
}
mat-form-field{
  width: 60%;
 }
